/* Pages */
.page {
    margin-top: 0px;
}

.page-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}

.page h3 {
    margin-top: 24px;
    font-size: 18px;
    color: #333;
}

.page ul {
    list-style: none;
    padding-left: 0;
    margin-top: 8px;
}

.page ul li {
    margin-bottom: 8px;
    padding-left: 1em;
    position: relative;
}

.page ul li::before {
    content: "•";
    color: #007bff;
    position: absolute;
    left: 0;
}
