/*geral*/
*{
    padding: 0;
    margin: 0;

}

body{
    background: linear-gradient(180deg, #594cee 0%, #8dd0f5 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hide{
    display: none;
}

.conteiner {
    background-color: #5c54ed;
    box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
    padding: 2rem;
    color: #fdfdfd;
    border-radius: 1rem;
}

/*form*/
.form{
    margin-bottom: 1rem;
}

.form-input-conteiner {
    display: flex;
}

.form input{
    padding: 0.8rem;
    border: none;
    flex: 1;
    border-radius: 4px;
}

form button{
    padding: .8rem;
    min-width: 50px;
    margin-left: 8px;
    background-color: #8dd0f5;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*clima*/
#weather-data {
    border-top: 1px solid white;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    text-align: center;
}

#weather-data h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .6rem;
    
}

